<h1> Secrets Dashboard</h1>
<%= current_user.name %>
<a href="/users/<%= current_user.id %>">Profile</a>
<% @secret.each do |secret| %>
    <%= secret.content %>
    <%= secret.likes.count %> likes 
    <% if current_user.secrets_liked_ids.include? (secret.id) %>
        <form action="/likes/<%= secret.id %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Unlike">
        </form>
    <% else %>
        <form action="/likes/<%= secret.id %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="submit" value="Like">
        </form>
    <% end %>
    <% if current_user == secret.user %>
        <form action="/secrets/<%= secret.id %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete Secret">
        </form>
    <% end %>
<% end %>

